@import '~bootstrap/dist/css/bootstrap.min.css';

/* Override em algumas classe bootstrap */

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1550px !important;
}

/* Override em algumas classe bootstrap -FIM- */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
