<app-navbar></app-navbar>

<div class="container">
     <div class="row">
        <div class="col-8">
          
          
          <app-post-list></app-post-list>

        </div>
        <div class="p-5 col-4">

            <div class="infousuario">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Bem vindo</mat-card-title>
              <mat-card-subtitle>{{nome}}</mat-card-subtitle>
              <hr>
            </div>


            <h3 class="pt-5">Santa Cruz</h3>

            <mat-list>
              <mat-list-item>
                <span matListItemLine>Assalto na estação de trem</span>
                <span matListItemLine>Valor do salgado da IV</span>
              </mat-list-item>
             </mat-list>
             
            <h3>Tijuca</h3>
            <mat-list>
              <mat-list-item>
                <span matListItemLine>Assalto na estação de trem</span>
                <span matListItemLine>Valor do salgado da IV</span>
              </mat-list-item>
             </mat-list>

            <h3>Flamengo</h3>
            <mat-list>
              <mat-list-item>
                <span matListItemLine>Assalto na estação de trem</span>
                <span matListItemLine>Valor do salgado da IV</span>
              </mat-list-item>
             </mat-list>
           
            <!-- CRIAR UM COMPONENT  -->
        </div>
     </div>
</div>
