
<div class="lista-posts" *ngFor="let postagem of postagens">  
  <mat-card class="example-card mt-4">
      <mat-card-header>
        <span [hidden]="true"> {{postagem.id}}</span>
        <mat-card-title>{{postagem.nomeUsuario}}</mat-card-title>
        <mat-card-subtitle>{{postagem.bairro}} - {{postagem.regiao}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{postagem.mensagem}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="warn"> 
          <mat-icon>favorite</mat-icon>
        </button>    
        <button mat-button>SHARE</button>
      </mat-card-actions>
      <button class="config" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
  </mat-card>
</div>