
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid register">
    <div class="row">
        <div class="col-md-6 register-left">
            <img class="logo" src="./assets/ipslogo.png" alt="" />
    
        </div>
        <div class="col-md-6 register-right">
            <div class="tab-content" id="myTabContent">
                <form novalidate (ngSubmit)="adicionarConta()" [formGroup]="cadastroForm">
    
                    <div class="alert alert-danger" *ngIf="errors.length > 0">
                        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                        <ul>
                            <li *ngFor="let error of errors">{{ error }}</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Registro</h3>
                        <div class="row justify-content-md-center register-form">
                            <div class="col-md-6 ">

                                <div class="form-group">
                                    <input class="form-control form-control-lg mt-3" id="UserName" type="text" placeholder="Usuario" formControlName="UserName" [ngClass]="{'is-invalid': displayMessage.UserName }" />
                                    <span class="text-danger" *ngIf="displayMessage.UserName">
                                                    <p [innerHTML]="displayMessage.UserName"></p>
                                    </span>
                                </div>     

                                <div class="form-group">
                                    <input formControlName="Celular" type="text" class="form-control form-control-lg mt-3"  placeholder="Celular"  [ngClass]="{'is-invalid': displayMessage.Celular }" />
                                    <span class="text-danger" *ngIf="displayMessage.Celular">
                                        <p [innerHTML]="displayMessage.Celular"></p>
                                    </span>
                                </div>
    
                                <div class="form-group">
                                    <input formControlName="Nascimento" type="text" class="form-control form-control-lg mt-3" placeholder="Data de Nascimento"  [ngClass]="{'is-invalid': displayMessage.Nascimento }" />
                                    <span class="text-danger" *ngIf="displayMessage.Nascimento">
                                        <p [innerHTML]="displayMessage.Nascimento"></p>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input formControlName="Email" type="email" class="form-control form-control-lg mt-3" placeholder="Email" [ngClass]="{'is-invalid': displayMessage.Email }"/>
                                    <span class="text-danger" *ngIf="displayMessage.Email">
                                        <p [innerHTML]="displayMessage.Email"></p>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input formControlName="Senha" type="password" class="form-control form-control-lg mt-3" placeholder="Senha" [ngClass]="{'is-invalid': displayMessage.Senha }" />
                                    <span class="text-danger" *ngIf="displayMessage.Senha">
                                        <p [innerHTML]="displayMessage.Senha"></p>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input formControlName="SenhaConfirmacao" type="password" class="form-control form-control-lg mt-3" placeholder="Confirme a Senha" [ngClass]="{'is-invalid': displayMessage.SenhaConfirmacao }" />
                                    <span class="text-danger" *ngIf="displayMessage.SenhaConfirmacao">
                                        <p [innerHTML]="displayMessage.SenhaConfirmacao"></p>
                                    </span>
                                </div>
                                <div class="d-grid gap-2 form-group">
                                    <button id="Registar" type="submit" value="Login" class="btnLogin btn btn-primary btn-lg mt-3"  [disabled]="!cadastroForm.valid">Registrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
    
            </div>
        </div>
    </div>
</div>