<div class="container-fluid contentform">
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup pt-5">
                <label for="chk" aria-hidden="true">Cadastra-se</label>
				<form>
                    <div class="form-group">
                        <input name="txt" [(ngModel)]="signupObj.UserName" class="form-control form-control-lg mt-3" id="UserName" type="text" placeholder="Usuario" />
                    </div>     

                    <div class="form-group">
                        <input name="txt" [(ngModel)]="signupObj.Celular" type="text" class="form-control form-control-lg mt-3"  placeholder="Celular"  />
                        
                    </div>

                    <div class="form-group">
                        <input name="txt" [(ngModel)]="signupObj.Nascimento" type="text" class="form-control form-control-lg mt-3" placeholder="Data de Nascimento" />
                        
                    </div>
                    <div class="form-group">
                        <input name="email" [(ngModel)]="signupObj.Email" type="email" class="form-control form-control-lg mt-3" placeholder="Email" />
                        
                    </div>
                    <div class="form-group">
                        <input name="psw" [(ngModel)]="signupObj.Senha" type="password" class="form-control form-control-lg mt-3" placeholder="Senha" />
                        
                    </div>
                    <div class="form-group">
                        <input name="psw" [(ngModel)]="signupObj.SenhaConfirmacao" type="password" class="form-control form-control-lg mt-3" placeholder="Confirme a Senha"  />
                        
                    </div>
                    <div class="d-grid gap-2 form-group">
                        <button (click)="onSignUp()" class="btnLogin btn btn-primary btn-lg mt-3" >Registra</button>
                    </div>
				</form>
			</div>
            loginObj
			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
                    <div class="form-group">
                        <input [(ngModel)]="loginObj.Email" name="email" type="email" class="form-control form-control-lg mt-3"  placeholder="Email"  />
                        
                    </div>
					<div class="form-group">
                        <input [(ngModel)]="loginObj.Senha"  name="psw" type="password" class="form-control form-control-lg mt-3" placeholder="Senha"  />
                       
                    </div>
                    <div class="d-grid gap-2 form-group">
                        <button (click)="onLogin()" id="Login" type="submit" value="Login" class="btnLogin btn btn-primary btn-lg mt-3" >Login  </button>
                    </div>
				</form>
			</div>
	 </div>
</div>